= f.input :first_name
= f.input :last_name
= f.input :department, collection: INSTITUTIONS, include_blank: "Others (Specify)"
= f.input :department, label: "Specify Other School/Institute",input_html: {id: "user_department_custom"}
= f.association :supervisors, :collection => User.can_supervise, :label_method => lambda{ |supervisor| "#{supervisor.full_name}"}

:javascript
  function updateFields(){
    if ($('#user_department').val()) {
      $('#user_department_custom').val($('#user_department').val());
      $('#user_department_custom').attr('disabled', 'true');
    } else {
      $('#user_department_custom').removeAttr('disabled');
    }
  }

  updateFields();

  $('#user_department').change(updateFields);