= f.input :first_name , :label => "Given Name:"
= f.input :last_name  , :label => "Surname:"
= f.input :department, :label => "Department/Institute"
= f.association :supervisors, :required => true, :label => "Supervisors", :collection => User.can_supervise, :label_method => lambda{ |supervisor| "#{supervisor.full_name}"}