- title 'Listing Users'
= will_paginate(@projects)
%table#users.table.table-bordered.table-striped.table-condensed.pretty
  %tr
    %th= sortable "user_id", "Staff/Student ID"
    %th= sortable "first_name", "Given Name"
    %th= sortable "last_name", "Surname"
    %th= sortable "email", "Email"
    %th= sortable "role", "Role"
    %th= sortable "status", "Status"
    %th= sortable "last_signed_in_at", "Last signed in"
    %th Actions
  - @users.each do |user|
    %tr{:class => cycle('field_bg', 'field_nobg')}
      %td= user.user_id
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.role.name if user.role
      %td
        - if user.status == 'A'
          Active
        - else
          Deactivated
      %td
        - if user.last_sign_in_at.nil?
          Never logged in
        - else
          = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
      %td
        = link_to "View Details", user, :id => "view_#{user.id}"
        - if can?(:update_role, User)
          = link_to "Edit role", edit_role_user_path(user), :id => "edit_role_#{user.id}"
= will_paginate(@projects)
