.container
  - title 'Home'
  - if !user_signed_in?
    = simple_form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })
    = link_to "Sign Up", new_user_registration_path, :class => "button"
  - else
    = link_to "Create Project", new_project_path, :class => "button"
    = will_paginate(@projects)
    %table#projects.table.table-bordered.table-striped.table-condensed.pretty
      %tr
        %th= sortable "id", "ID"
        %th= sortable "name", "Project Name"
        %th= sortable "user_id", "Owner"
        %th= sortable "created_at", "Date Created"
        %th= sortable "supervisor_id", "Supervisor"
        %th Actions
      - @projects.each do |project|
        %tr{:class => cycle('field_bg', 'field_nobg')}
          %td= project.id
          %td= project.name
          %td= project.user.full_name
          %td= localize project.created_at, :format => :short
          %td= project.supervisor.full_name
          %td= link_to 'View Details', project, :class => "view", :id => "view_#{project.id}"
    = will_paginate(@projects)
