- title "Edit Project #{@project.name}"

:javascript
  function chainSelect(controller_id, controllee1_id, controllee2_id) {
    var controller = document.getElementById(controller_id);
    var controllee1 = document.getElementById(controllee1_id);
    var controllee2 = document.getElementById(controllee2_id);

    if (controller.options[controller.selectedIndex].value == 1) {
      controllee1.disabled = false;
    }
    else {
      controllee1.disabled = true;
      controllee2.disabled = true;
    }
  }

  function enableIfSelect(controller_id, controllee_id, checkValue) {
    var controller = document.getElementById(controller_id);
    var controllee = document.getElementById(controllee_id);

    controllee.disabled = controller.options[controller.selectedIndex].value == checkValue ? false : true;
  }

= simple_form_for(@project) do |f|
  = f.input :name
  = f.input :description
  = f.input :funded_by_agency, :collection => [['Yes', 1], ['No', 0]], :input_html => { :onchange => "chainSelect('project_funded_by_agency', 'project_agency', 'project_other_agency');" }, :selected => (@project.funded_by_agency? ? 1 : 0)
  = f.input :agency, :collection => ["Australian Research Council", "National Health and Medical Research Council", "Diabetes Australia", "The Gates Foundation", "Other"], :disabled => (@project.funded_by_agency? ? false : true), :input_html => { :onchange => "enableIfSelect('project_agency', 'project_other_agency', 'Other');" }
  = f.input :other_agency, :disabled => ((@project.funded_by_agency? and @project.agency == "Other") ? false : true)
  = f.input :supervisor_id, :collection => current_user.supervisors, :label_method => lambda{ |supervisor| "#{supervisor.full_name}"}
  .form-actions
    = link_to 'Cancel', cancel_update_project_path, :class => "btn"
    = f.submit "Update Project", :class => "btn btn-primary"
