%h2 Create New Experiment

%h3 Project Details
%p
.somecontainer
  Select a project
  <abbr title="required">*</abbr>
  = select_tag "project_select", options_from_collection_for_select(@projects, :id, :name), :prompt => "----"
  = link_to "Create New Project", new_project_path

.project_display
  = label_tag "pid", "Project ID: ", { :id=>"pid" }
  = label_tag "description", "Description: " , { :id=>"description" }
  = label_tag "date_created", "Date Created: " , { :id=>"date_created" }
  = label_tag "funded_by", "Funded By: ", { :id=>"funded_by" }
  = label_tag "supervisor", "Supervisor: " , { :id=>"supervisor" }

<hr/>
%h3 Experiment Details
- if @instrument
  = label_tag "Instrument", "Instrument: #{@instrument}"
- else
  = label_tag "Instrument", "Instrument: Unknown"

:css
  .control-group.boolean label, .control-group.boolean>div.controls {
    display: inline;
  }
  .control-group.boolean input {
    margin-left: 0;
  }

%p
= simple_form_for(@experiment) do |f|
  = f.input :project_id, :as => :hidden, :input_html => { :value => @project_id }
  = f.input :instrument, :as => :hidden, :input_html => { :value => @instrument }
  = f.input :expt_name, :label => "Experiment Name"
  = f.input :lab_book_no, label: "Lab Book No. (If you don't have one, please enter 'TBA')"
  = f.input :page_no, :label => "Page No."
  = f.input :cell_type_or_tissue, :label => "Cell Type or Tissue"
  = f.input :expt_type, :label => "Experiment Type", :collection => ["Fixed", "Live"]
  <hr/>
  %h4 Apparatus
  <br/>
  = f.input :slides
  = f.input :dishes
  = f.input :multiwell_chambers, :label => "Multiwell Chambers"
  = f.input :other
  = f.input :other_text, :label => "Other (Specify)"
  <hr/>
  = f.input :reporter_protein
  = f.input :reporter_protein_text, :label => "Reporter Protein (Specify)", :collection => ["GFP","YFP","CFP","RFP","Other"]
  = f.input :specific_dyes
  = f.input :specific_dyes_text, :label => "Specific Dye (Specify)"
  = f.input :immunofluorescence

  .form-actions
    = f.submit "Create Experiment", :class => "btn btn-primary", :id => "experiment_submit"
    = link_to 'Save and Download Data', root_path, :class => "btn", :disabled => true
    = link_to 'Cancel', cancel_experiments_path, :class => "btn"

